<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="carbonator" type="Crypton.Carbonator.Config.CarbonatorSection, Crypton.Carbonator"/>
  </configSections>


  <!--
  
    Carbonator Configuration
  
  -->
  <carbonator server="graphite.example.org" port="2003">
    <counters>
      <add path="local.random.perf.%HOST%.cpu" category="" counter="" instance="" />
    </counters>
  </carbonator>
  
</configuration>