<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="carbonator" type="Crypton.Carbonator.Config.CarbonatorSection, Crypton.Carbonator"/>
  </configSections>
  
  <!--
    defaultCulture setting specifies which culture set will be used to find Performance Counters
      on non-English Windows installations, performance counter names will be in the localized language
      this setting may be necessary to use English names (e.g. Processor vs. Процессор (ru-RU))
  -->  
  <carbonator defaultCulture="en-US">
    <!-- where graphite metrics will be sent -->
    <graphite server="my.graphite-server.example.org" port="2003" />
    
    <!-- 
      performance counters that will be collected 
      special variables:
      
      %HOST%  -  substitutes current computer name (Environment.MachineName)
      
      -->
    <counters>
      <add path="my.data.perf.%HOST%.cpu" category="Processor" counter="% Processor Time" instance="_Total" />
      <add path="my.data.perf.%HOST%.memAvailable" category="Memory" counter="Available Bytes" instance="" />
      <add path="my.data.perf.%HOST%.diskFree.C" category="LogicalDisk" counter="% Free Space" instance="C:" />
    </counters>
  </carbonator>
  
  
  
</configuration>